<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <img src="{{ '/assets/images/prof.jpg' }}"/>
        <p><a href="{{ site.github.url }}/">Home</a></p>
        <p><a href="{{ site.github.url }}/blog">Blog</a></p>
        <p><a href="{{ site.github.url }}/photo">Photography</a></p>
        <p><a href="{{ site.github.url }}/resume">Resume</a></p>
        <p><a href="{{ site.github.url }}/contact">Contact Me</a></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</html>
