<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ site.github.url }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p><a href="{{ site.github.url }}/about">about</a></p>
        <p><a href="{{ site.github.url }}/now">now</a></p>
        <p><a href="{{ site.github.url }}/reccomendations">reccomendations</a></p>
        <p><a href="{{ site.github.url }}/contact">contact</a></p>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
</html>
